.DS_Store
.vscode/

#Build dir
build/
cmake-build-debug/


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
main
visualization/run.sh
.gitignore
visualization/TimingData.csv
blaa/lessfsad.c
blaa/per_oanf.c
.gitignore
scripts/2d/initial_conditions.csv
scripts/2d/py_baseline.csv
scripts/2d/latticeboltzmann.png
visualization/run.sh
visualization/TimingData.csv
visualization/TimingData.csv
.gitignore
